body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.controller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    max-width: 450px;
    padding: 20px;
    background-color: #ffffff;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.drive-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steering-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.button {
    background-color: #dddddd;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.05s;
    margin: 3px;
    outline: none;
}

.button:active {
    background-color: #bbbbbb;
}

.up {
    width: 150px;
    height: 70px;
}
.down {
    width: 150px;
    height: 70px;
}

.left {
    width: 70px;
    height: 150px;
}
.right {
    width: 70px;
    height: 150px;
}
